[2014-05-06 14:03] shoaib-fazal16 opened #3 "V 0.1.0 Removed?"
Hi,

Is this plugin stopped? Or any one is still developing it?
V 0.1.0 is removed from the github?

Thank you

[2014-05-06 14:59] n-rodriguez commented on #3
The plugin is still in development.
The 0.1 version will be released soon.

[2014-05-06 14:59] #3 closed, assigned to n-rodriguez

[2014-05-07 18:36] Guite opened #4 "error 500 caused by invalid sql on user page"
A 500 status code is thrown when opening a user's account page, like for example https://your-redmine-install.org/users/123
The log file contains the following error:

[code]

[2014-05-18 18:37] ppawlowski commented on #4
I have exactly same error. Redmine version: 2.4.5 .
Table jenkins_builds has following schema:

| id             | int(11)      | NO   | PRI | NULL    | auto_increment |
| jenkins_job_id | int(11)      | NO   |     | NULL    |                |
| number         | int(11)      | NO   |     | NULL    |                |
| result         | varchar(255) | YES  |     | NULL    |                |
| finish

[2014-06-18 13:07] tchemineau commented on #4
Same error with redmine 2.5.1.stable.

[2014-06-23 12:15] tchemineau commented on #4
I add the author_id column to prevent crashes, into `db/migrate/003_create_jenkins_builds.rb` :

[code]

It seems that this workaround works.

[2014-07-01 15:57] leonisCacheFlo opened #6 "nil values produce errors: app/views/jenkins_jobs/_job_solo.html.erb"
It seems that some line in app/views/jenkins_jobs/_job_solo.html.erb are not nil-safe which results in 500 errors.

It happens after I activated the module for a redmine project and connected (successfully) to my jenkins instances, which has not run any jobs yet, but exactly one defined.

The following lines were producing problems, if there were no jobs yet.

[code]

Rambo-bugfixing:

[code]

And

[2014-07-22 08:11] thomasli-x commented on #6
Hi, leonisCacheFlo. I met the same problem.... THANK YOU VERY MUCH! it works!

[2014-08-25 01:35] slapt opened #7 "500 Internal Server Error when edit settings."
Hello.

When I go to any Project -> Modify settings for enable Jenkins plugin, I got this error:

Rendered projects/settings.html.erb within layouts/base (514.7ms)
Completed 500 Internal Server Error in 533.5ms

[code]

P. S.: I have a full admin permissions.

[2014-08-26 15:33] emmanuelmathot opened #8 "jobs are not saved"
In the "Add a job" popup with the "job Name" and "repository", when I click "Save", nothing happens.

[2014-08-27 23:47] oswaldl opened #9 "Internal error when accessing project settings page"
[code]

[2014-08-27 23:58] oswaldl commented on #9
problem solved, folder name mistake

[2014-08-27 23:58] #9 closed, assigned to n-rodriguez

[2014-08-30 18:08] mrueg opened #10 "uninitialized constant WillPaginate::ActionView / undefined local variable or method `can_view_jenkins_jobs'"
Clicking on projects/project_id/jenkins in a freshly started redmine instance results in

[code]

Clicking a second time on projects/project_id/jenkins results in Error 500.

[code]

redmine-2.4.6
will_paginate-3.0.7
jenkins_api_client-1.0.1

[2014-08-31 18:04] ChrisWesterfield commented on #7
I git this to.
But it seems to be related to my jenkins update to 1.577

does any one else expierence that to?

[2014-09-03 11:03] luismaia commented on #8
I have exactly the same problem.
After debugging, at least in my case, this was caused by the following error:

ActiveRecord::StatementInvalid (Mysql2::Error: Column 'comment' cannot be null: INSERT INTO `jenkins_build_changesets` (`comment`, `jenkins_build_id`, `repository_id`, `revision`) VALUES (NULL, 28, 5, '14604'))

In my case the Jenkins server sends no information about the comment.

[2014-09-04 09:36] evfool opened #12 "Jenkins view 500 with no builds yet"
Steps to reproduce:
- set up jenkins integration with a server
- add some jobs to redmine, but only jobs without any builds

Expected results:
empty view, no jobs
What happens:
Internal error with

[code]

[2014-09-08 21:50] n-rodriguez commented on #8
Fixed by PR https://github.com/jbox-web/redmine_jenkins/pull/11

[2014-09-08 21:50] #8 closed, assigned to n-rodriguez

[2014-09-08 23:39] #12 closed, assigned to n-rodriguez

[2014-09-08 23:41] n-rodriguez commented on #6
Hi there! Thanks for your feedback! (and sorry for the delay)

This is now fixed : https://github.com/jbox-web/redmine_jenkins/commit/5820e4e28f23d8a2f1473c98b923afa4d428c9a8

[2014-09-08 23:41] #6 closed, assigned to n-rodriguez

[2014-09-10 05:57] evfool opened #13 "Linkify ticket numbers in the job list Latest changes"
Currently the Latest Changes column contains the commit messages from the commits in the build, with links to the changesets, but the ticket numbers are not linkified.
I assume that usually the ticket numbers inside the commits point to the same redmine instance which shows the builds (this is the case for me), but this might need to be configurable.

[2014-09-11 19:59] n-rodriguez commented on #7
Hi there!

I've some tests with Jenkins 1.579 and it works pretty well.
I don't this is plugin related. The error is :

[code]

I think this comes from another plugin or from Redmine custom fields.

[2014-09-11 19:59] #7 closed, assigned to n-rodriguez

[2014-09-11 20:02] n-rodriguez commented on #4
Hi there!
Fixed in commit https://github.com/jbox-web/redmine_jenkins/commit/0d304824f682df2baf9aa5e0f115e70d200d7436.

[2014-09-11 20:02] #4 closed, assigned to n-rodriguez

[2014-09-12 10:53] akaias opened #14 "Do not modify migrations that are already on github"
Hi there,

i installed the first version of the plugin,
now i updated the code and i ran the migrations.

BUT

since you CHANGED the migrations that have been in the repository , they where not executed again.
so i basically had to migrate them back to version 0 and redo it resulting in a loss of data.

Please, once a migration is pushed to github DO NOT MODIFY it.
create a new one.

Cheers

Axel

[2014-09-14 01:42] mrueg commented on #10
With latest git commit, i get this:

[code]

[2014-09-15 15:57] n-rodriguez commented on #14
Since the plugin is still in development (there is no version called 1.0) this is not an issue.

[2014-09-15 15:57] #14 closed, assigned to n-rodriguez

[2014-09-22 09:15] vanadar opened #15 "conflicts with gem"
i can't install the latest patch on redmine 2.5.2: i have a confilct when doing "bundle install"  :

You cannot specify the same gem twice with different version requirements.
You specified: rspec (~> 2.0) and rspec (~> 3.0.0)

it looks like i can't install redmine_jenkins AND redmine_dashboard

[2014-09-23 22:31] ryanjaeb opened #16 "cannot load such file -- ci/reporter/rake/rspec"
Hi,

While trying to run `rake redmine:plugins:migrate RAILS_ENV=production` after installing the plugin I got the following error:

[code]

I create my Redmine bundle using the following two commands:

[code]

I assume that since I'm not using the `development` or `test` profile, I shouldn't need any of the `rspec` or `ci` related stuff.  Is it possible to change the scope of the `ci/reporter/rak

[2014-09-24 20:45] #16 closed, assigned to n-rodriguez

[2014-09-24 20:57] #15 closed, assigned to n-rodriguez

[2014-09-24 20:57] n-rodriguez commented on #15
Thanks for your feedback!

[2014-09-24 20:58] n-rodriguez commented on #16
Thanks for your feedback!

[2014-09-24 20:59] ryanjaeb commented on #16
No problem.  Thanks for the plugin :-)

[2014-09-24 22:56] ryanjaeb commented on #16
I just noticed this didn't actually solve my problem.  I didn't realize until just now, but I had moved the `rspec` related gems in `remdine_jenkins/Gemfile` outside of the `:development, :test` scope and forgot to move them back.

I don't think the location of that require line actually matters, but, as I mentioned, I don't know much about ruby.  I can give a half decent explanation of the proble

[2014-09-25 20:55] ndarilek opened #17 "shoulda conflict"
Getting the following error:

[code]

This is under Redmine 2.5.2. I ran "bundle install --without test development" when installing Redmine. Seems like I shouldn't need shoulda to run in production. I did run another "bundle install --without test development" before restarting Redmine so I don't know what I have to do to not install this test dependency when launching.

Thanks.

[2014-09-29 21:36] n-rodriguez commented on #17
I don't think this dependency is really installed. Check it with a `bundle list`.
But in order to build his dependency tree, `bundle` analyzes all groups in Gemfile(s) and halt on conflicts. To avoid the error, you can safely comment the line.

[2014-09-29 21:42] #17 closed, assigned to n-rodriguez

[2014-10-02 10:46] vanadar opened #18 "unable to add a job on a project"
hi,

when i configure The Jenkins' plugin and want to add a job, i have an error 500.

here are the logs:

[code]

[2014-10-14 07:55] vanadar opened #19 "launch build with parameters"
Hi,

I have a feature request :
On jenkins, i have a job wich need a parameter to work (a svn tag). I can choose id with a simple selecte on jenkins and it would be nice if the plugin could manage such jobs.

here is a screen of the screen for  starting a job with a parameter on jenkins
![screen-jenkins](https://cloud.githubusercontent.com/assets/4963867/4625509/2f804bcc-5377-11e4-927e-6f7902b1c4c

[2014-10-15 13:44] vanadar commented on #18
it might have been a bug with the cache. it is working now

[2014-10-15 13:44] #18 closed, assigned to n-rodriguez

[2014-10-30 07:02] gionn opened #20 "500 in Project welcome page after enabling plugin"
I think this is some conflict between gems used by redmine_git_hosting plugin and redmine_jenkins, but I am not enough into rails to debug.

Redmine 2.4.2

[code]

[2014-10-31 10:39] evfool opened #21 "Changelog should be collapsible"
We have only four builds set up in Redmine Jenkins, but some of them have very long changelogs, and to get to the last job we have to scroll a lot.

It would be nice if the changelog would be a collapsible pane, showing only the top 4-5 rows of the changelog and a "more" button to expand the changelog for the given build.

[2014-10-31 10:42] evfool opened #22 "View console log in same tab issue"
Currently when clicking the status link of a build (with tooltip See console output) I only get a big white screen with a blue OK button in the lower right corner. This only happens when simply left-clicking to open in the same window. Opening in a new tab shows the console output correctly.

[2014-11-05 14:36] canatella commented on #10
It seems to be working for me if I add

require 'will_paginate/view_helpers/action_view.rb'

in

plugins/redmine_jenkins/app/helpers/will_paginate_helper.rb

[2014-11-08 13:15] n-rodriguez commented on #20
Update both plugins ;) (devel branch for this one and 0.7.8 or 0.8 for Redmine Git Hosting)

[2014-11-08 13:15] #20 closed, assigned to n-rodriguez

[2014-11-10 14:23] mrueg commented on #10
That seems to fix it for me, too. @n-rodriguez can you add this to the repository?

[2014-11-28 08:10] g012j opened #24 "Internal Server Error"
when i add the plugins, go to the setting page,
click the Test connection or add a job, it doesn't work
it shows...

[code]

[2014-12-17 12:00] salehi opened #25 "rake aborted!"
Hello,

When I try to migrate plugins through executing rake, I deal with : "rake aborted!" error.
Note that I executed successfully the "bundle install" before this time for this plugin.

[code]

[2014-12-21 18:30] n-rodriguez commented on #25
Your must run the Rake task in Redmine root dir : http://www.redmine.org/projects/redmine/wiki/Plugins

[2014-12-21 18:30] #25 closed, assigned to n-rodriguez

[2014-12-22 04:33] salehi commented on #25
No No,
This is due to rails version since redmine 2.6 uses another version of rails and redmine_jenkins plugins do NOT compatible with that version. It is the correct answer exactly.

[2015-01-28 16:45] webfractor commented on #24
I get this error after installing plugin into bitnami redmine distribution 2.6.1-1, here's my log entry:

Started GET "/redmine/projects/opt-bundle_production/jenkins_settings/test_connection" for 10.101.120.30 at 2015-01-28 10:30:20 -0600
Processing by JenkinsSettingsController#test_connection as */*
  Parameters: {"project_id"=>"opt-bundle_production"}
  Current user: devadmin (id=1)
Completed 5

[2015-01-28 16:47] n-rodriguez opened #28 "LoadError (cannot load such file -- jenkins_api_client)"
I get this error after installing plugin into bitnami redmine distribution 2.6.1-1, here's my log entry:

[code]

[2015-01-28 16:49] n-rodriguez commented on #28
@webfractor did you run `bundle install --deployment`?

[2015-01-28 17:24] webfractor commented on #28
nope, I just ran, bundle install

I went and ran: bundle install --deployment
then RAILS_ENV=production rake redmine:plugins:migrate <again>

those appears to run successfully, still cannot get anything back from test or add a job in the settings.

most current log message:

[code]

[2015-03-11 18:25] mrueg opened #30 "Missing helper file helpers/bootstrap_switch_helper.rb"
Using latest git here and bootstrap_kit v0.2.1

[code]

[2015-03-11 22:29] n-rodriguez commented on #30
You can temporary use the v0.2x branch of bootstrap_kit.

[2015-03-11 22:29] #30 closed, assigned to n-rodriguez

[2015-03-11 22:30] n-rodriguez commented on #24
Hi!

Can you provide more logs?

[2015-03-12 00:22] webfractor commented on #24
I currently don't have an install, but I can whip one up tomorrow when I
return to the office. We are test driving several issue trackers and I have
a server waiting on this. I will document the entire process. If you can
tell which logs (and where they might be), I can certainly provide them.

Hi!

Can you provide more logs?

—
Reply to this email directly or view it on GitHub
https://github.com/

[2015-03-12 03:38] n-rodriguez commented on #22
Are you sure it's a big white screen?
Scroll a bit and you'll find Jenkins output (which can be pretty big) ;)

[2015-03-12 03:38] #22 closed, assigned to n-rodriguez

[2015-03-12 03:42] #10 closed, assigned to n-rodriguez

[2015-03-12 03:46] n-rodriguez commented on #28
Hi there!

Can you please test with the latest devel branch commit?

[2015-03-12 04:15] #13 closed, assigned to n-rodriguez

[2015-03-12 07:07] evfool commented on #22
Ok, found that. It's not empty, but contains one very long line, which causes the div with the <pre> containing the log output to span to a larged width than the size of the screen, and there is no horizontal scrollbar, so I only see content when I am at the long line.
When clicking on "Inspect element" from firefox however the thing is scrolled to the start of the line, so everything gets visible

[2015-03-12 13:20] webfractor commented on #24
You took this bug and created: https://github.com/jbox-web/redmine_jenkins/issues/28

That bug has my logs in it. I am going to update that bug, rather than this one as it is more informative for both of us.

[2015-03-12 13:40] webfractor commented on #28
I have started from scratch as I needed to get some other issue trackers installed and integration with jenkins is a must. As such, I have different version numbers now, here is the full process, in order:

[code]

Here's the run down of the bitnami install script:

[code]

Since I'm on a HyperV vritual machine, I have made a checkpoint for the VM here. So I can return to this state and test any p

[2015-03-12 16:36] webfractor commented on #28
Update, I redid the bitnami install as a regular user and was able to get through the install directions you have here:
https://github.com/jbox-web/redmine_jenkins/wiki/Step-by-step-installation-instructions

However, when I go into Redmine now, I only see the Redmine Bootstrap Kit, no Redmine_Jenkins

[2015-03-12 16:43] webfractor commented on #28
Here's the full breakdown:

[code]

Bitnami Installer:

[code]

able to access redmine

redmine_jenkins install

[code]

as a regular user:

[code]

switching to redmine user

[code]

output:

[code]

finally:

[code]

![redmine_jenkins_missing](https://cloud.githubusercontent.com/assets/4032926/6622808/f72519b4-c8ac-11e4-822b-eec00087c877.png)

[2015-03-12 16:48] webfractor commented on #28
Logs:

/opt/redmine/apps/redmine/htdocs/log/production.log:

[code]

[2015-03-12 16:57] webfractor commented on #28
Just for completeness, I rolled back to vanilla redmine, no plugins and did the following:

[code]

And got the following:

[code]

[2015-03-12 18:42] n-rodriguez commented on #28
Comment the development group in Jenkins plugin Gemfile.

[2015-03-13 13:39] webfractor commented on #28
Commented out the entire section

[code]

Did the following:

[code]

Results in:

[code]

tried:

[code]

Got:

[code]

Tried:

[code]

Got :

[code]

Did some googling and found this might have to do with the gems install in vendor...

[code]

Got the same error.

I have reverted to the state I was in before a began the step in this bug. Then I repeated the commenting.

I know that a lot of this

[2015-03-13 13:59] webfractor commented on #28
It occurred to me perhaps I should run that in the plugin directory:

[code]

Got:

[code]

ran

[code]

installed gcc

[code]

tried

[code]

then tried

[code]

[code]

[code]

Reverted again, waiting on your guidance now

[2015-03-16 01:11] #24 closed, assigned to n-rodriguez

[2015-03-16 01:13] n-rodriguez commented on #28
This is a Bitnami Stack thing... Need to be investigated...

[2015-03-16 01:15] n-rodriguez opened #31 "Unknown key: :find_options with Redmine 3.0"
[code]

[2015-03-16 02:48] #31 closed, assigned to n-rodriguez

[2015-03-16 16:03] webfractor commented on #28
Ok, I think I not only got this installed, but it's actually working now!

Here's the steps I had to take starting from right after the bitnami install:

[code]

I now see both plugins in the plugin page:

![jenkins_redmine_plugin](https://cloud.githubusercontent.com/assets/4032926/6670331/fb2e64ee-cbcb-11e4-8e9e-c993eec41d68.png)

I have the option for jenkins in a new project. Configuration test

[2015-03-16 16:29] webfractor commented on #28
I think you should add this to your wiki, I'm sure I'm not the only that is having issues and using bitnami. I can provide a condenced howto after I proof my steps and build this server out from scratch.

[2015-03-16 23:05] n-rodriguez commented on #28
I will!

I confirm, you're not alone : https://github.com/jbox-web/redmine_git_hosting/issues/376 http://jbox-web.github.io/redmine_git_hosting/guide/bitnami-installation/

That would be great !

Thank you!

[2015-03-18 08:29] niosHD opened #32 "ProtectedAttributes/StrongParameters problem"
Hi,
I just installed your plugin into redmine 3 and discovered an issue when saving a Jenkins connection.

Error:

[code]

The problem seems to be related to ProtectedAttributes/StrongParameters. I managed to work around the it by adding `attr_accessible :url, :auth_user, :auth_password, :show_compact, :wait_for_build_id` to the jenkins_setting model in addition to sanitizing the params dict with

[2015-03-18 20:17] n-rodriguez commented on #32
This is the right thing to do.

As you said this won't be backward compatible as StrongParameters don't exist in Redmine 2.x / Rails3. I will add StrongParameters when Redmine 2.x branch will be marked as obsolete.
For now `attr_accessible` do the job.

Thank you!

[2015-03-18 20:18] #32 closed, assigned to n-rodriguez

[2015-03-19 01:29] n-rodriguez commented on #21
Done!
Thank you!

[2015-03-19 01:29] #21 closed, assigned to n-rodriguez

[2015-03-19 06:29] evfool commented on #21
Great news, thanks for your work, it's greatly appreciated.

[2015-03-19 19:33] mrueg opened #33 "Migration failed - SQLite3::SQLException: table "jenkins_settings" already exists"
Hi,

I've been trying to upgrade to 1.0.0 and the sql migration seems to fail. Any idea how I can fix this?

[code]

[2015-03-20 17:59] n-rodriguez commented on #33
Hi! I'm sorry but you cannot migrate to 1.0.0. You need to do a clean install.

[2015-03-20 17:59] #33 closed, assigned to n-rodriguez

[2015-03-20 20:36] mrueg commented on #33
Okay, thank you. That worked!

[2015-03-26 08:59] Nalic opened #35 "I have been successfully installed redmine_jenkins plug, but the running encountered a problem."
![qq 20150326165205](https://cloud.githubusercontent.com/assets/531332/6842924/84b6cbca-d3d8-11e4-92c7-b9b2cbaac101.png)

click jenkins

![qq 20150326165220](https://cloud.githubusercontent.com/assets/531332/6842934/a54a0c62-d3d8-11e4-8879-3cf55be6da25.png)

[2015-03-30 21:30] webfractor commented on #28
So, I went back through this working from scratch to proof the install and apparently BitNami jerks the redmine config around just enough that I can't seem to get this workin until I install as a user. Install as root just leads to more and more issues. So I gave up.

I have now installed redmine from scratch and run into a new issue in another ticket...

[2015-03-30 21:35] n-rodriguez commented on #35
Hi!
Can you please provide some logs? From `<redmine root dir>/log/production.log`.

[2015-03-30 21:36] n-rodriguez commented on #28
which one?

[2015-03-30 21:37] webfractor opened #36 "LoadError: Missing helper file helpers/redmine_bootstrap_kit_helper.rb"
Installed redmine on CentOS7 as follows:

[code]

I was able to login with default admin password. @ myhost:3000

So, moved on to installing your redmine_jenkins plugin per the updated install docs @
https://github.com/jbox-web/redmine_jenkins/wiki/Step-by-step-installation-instructions

[code]

got the following error

[code]

Checked the git repo and you only have tags/releases up to 0.2.2, so I

[2015-03-30 21:38] n-rodriguez commented on #36
Yeah. It's my fault... It depends on a not yet released lib version... I know it's bad :/

[2015-03-30 21:39] n-rodriguez commented on #36
But don't worry it's a matter of days :) If you want to try you can checkout the devel branch.

[2015-03-30 21:42] webfractor commented on #36
excellent, that worked like a charm.

This was much easier than the bitnami fiasco, once I figured out how to get redmine on centos7 from tarballs.

[2015-03-30 21:45] n-rodriguez commented on #36
Great :)

The first time is always hard ^^

[2015-03-30 21:46] webfractor commented on #36
I may spoken too soo. I create a test project with jenkins support. and when I try to go to the project settings I get an error

[code]

[2015-03-30 21:47] n-rodriguez commented on #36
Yes... Actually I was expecting this kind of bugs...

[2015-03-30 21:49] webfractor commented on #36
I only set the bootstrap_kit to devel, should I set both plugins to devel?

[2015-03-30 21:50] n-rodriguez commented on #36
Nope.. I think I need to update Jenkins before... I'm checking it

[2015-03-30 21:50] webfractor commented on #36
kk, I'm off work, I'll check back later tonight from home if I get the chance, otherwise I'll check tomorrow.

Thanks for you rapid responses.

[2015-03-31 12:57] webfractor commented on #36
I'd be willing to bet that at this point, I'm having the same issues as issue #35.

[2015-04-01 14:52] #36 closed, assigned to n-rodriguez

[2015-04-01 20:30] webfractor commented on #36
should I update something, or did you close this in favor of issue #35?

[2015-04-01 20:30] n-rodriguez commented on #36
Yes :)

[2015-04-01 20:31] webfractor commented on #35
I'm having the same issue, here is my log message:

[code]

[2015-04-01 20:32] n-rodriguez commented on #35
The new 1.0.1 release should fix this : https://github.com/jbox-web/redmine_jenkins/releases/tag/1.0.1

[2015-04-03 17:40] webfractor commented on #35
indeed it does!, I finally have integration working both ways!

thanks for your help

[2015-04-03 17:43] webfractor commented on #28
It was issue #36.

I have abandoned bitnami. I think most of my issues came from configurations that bitnami used versus issues with your plugin. I just could not get bitnami setup on the server the way I wanted. I am now running Redmine installed from tarballs and not having any issues since you 1.0.1 release.

[2015-04-05 15:56] abatista75 opened #37 "Fail to install on Redmine 3.0.1"
Here is the log

[code]

[2015-04-08 12:37] jbanyai commented on #37
Hi!

I get exactly the same error log.

Windows server, Redmine 3.0.1

[2015-04-09 20:15] n-rodriguez commented on #37
Have you installed Redmine Bootstrap Kit?

[2015-04-09 22:23] abatista75 commented on #37
You are totally right... I missed to reinstalled Redmine Bootstrap Kit (I did it, but I uninstalled later on and I forgot to reinstall it)

[2015-04-09 22:23] #37 closed, assigned to n-rodriguez

[2015-04-11 14:08] net1001 opened #38 "LoadError: cannot load such file -- win32/process"
i'm  adding  jenkins plugins to redmin3.0 which runs on windows 2008 R2 server
when I ran

[code]

I get error like this :

[code]

I'm newbie in Ruby,  need  some sugestion,thanks

[2015-04-13 21:36] n-rodriguez commented on #38
Add this in `<redmine dir>/Gemfile.local` (create it if not exists) :

[code]

and run `bundle install`

[2015-04-24 16:30] zshahan opened #39 "Error when sorting issues using custom fields"
After adding this plugin, I get a 500 error when attempting to sort issues via custom fields.

[code]

[2015-05-04 07:47] net1001 commented on #38
Yes ,It running, thanks

[2015-05-04 11:07] #38 closed, assigned to n-rodriguez

[2015-05-11 20:32] drvora opened #40 "Plugin installs fine but project activity tab is broken"
We have a bitnami redmine 3.0.2 installed. We have installed plugin using following steps:

1) Download zip file

2) unzip in plugins directory

3) Run commands,
$ cd apps/redmine/htdocs
$ bundle install --without development test postgresql sqlite --no-deployment
$ bundle install --without development test postgresql sqlite --deployment
$ ruby bin/rake redmine:plugins RAILS_ENV=production

4) res

[2015-05-26 04:33] net1001 opened #41 "repository dropdown is empty"
When i fill  Jenkins Settting , In the Add a Job popup, the repository dropdown is empty , where are data in the dropdown come from, jenkins or Plugin?

[2015-05-26 17:01] n-rodriguez commented on #41
Redmine. The dropdown contains the project's repositories list so you can map your Jenkins job to a repository.

[2015-05-27 21:39] drvora commented on #40
Is there any workaround for this problem? We can't seem to figure out what the cause is. Our users really want this plugin working for efficient development collaboration. Thanks in advance.

[2015-06-09 03:03] net1001 opened #42 "Latest build time incorrect"
In my environment ,i keeps ten build history in redime, In the List of jobs page, Latest build column contains build Id and build time,the build Id is correct,but the build time is the first build time.

[2015-06-09 23:23] #41 closed, assigned to n-rodriguez

[2015-06-09 23:24] #35 closed, assigned to n-rodriguez

[2015-06-09 23:25] #28 closed, assigned to n-rodriguez

[2015-06-29 12:00] aalmada opened #43 "Installation fail in Bitnami Redmine stack"
I followed the installation steps but the last step keeps failing. Can't figure out why.

There was an issue with Nokogiri but the following command fixed it: sudo apt-get install zlib1g-dev

I'm getting the following trace:

[code]

[2015-06-29 17:34] aalmada commented on #43
Tried some more things but still getting this:

[code]

[2015-06-29 17:48] n-rodriguez commented on #43
What does `bundle list` say? Does it containt will_paginate gem?

[2015-06-30 08:45] aalmada commented on #43
I forgot to mention I'm using Redmine 3.0.3 and I now noticed that there are already [reported issues on redmine_bootstrap_kit related to the latest Redmine versions](https://github.com/jbox-web/redmine_bootstrap_kit/issues). Although I didn't have any problem installing redmine_bootstrap_kit.

**'bundle list' returns the following:**

Gems included by the bundle:
- actionmailer (4.2.1)
- actionpa

[2015-07-03 03:23] sixdrum commented on #43
I'm seeing the same issue with Ruby 2.2.2 on CentOS 6.6 x86_64 with Redmine 3.1.

[2015-07-10 14:09] algorys opened #44 "Enhancement : add/link job to issue ?"
Hello,

I've install your plugin on my redmine installation and it's work perfectly. (Redmine 3.0.3, ruby 2.1.5, Rails 4.2.3)

I want to know if it'll be possible to add "result" of a specific build to an issue ?

For the moment, I can just make a link to jenkins directly, and it would be nice to have the result (like "succes" of the choosen build inside issue, and link it to Jenkins tab only.

Th

[2015-07-15 17:41] shawndibble commented on #39
I am also experiencing the same issue/error. Here are my environment settings:

Environment:
  Redmine version                3.0.3.stable.14325
  Ruby version                   2.0.0-p643 (2015-02-25) [x86_64-linux]
  Rails version                  4.2.2
  Environment                    production
  Database adapter               Mysql2

[2015-07-17 18:37] kostajh commented on #44
@algorys looks like this might do what you need https://github.com/Pepperrs/red_jenkins/issues/39

[2015-07-17 19:34] algorys commented on #44
Thanks. I've install your plugin but it doesn'work very good... or I don't understand how it works...?

Redmine 3.0.3

[2015-07-23 07:30] algorys opened #45 "Errors while starting job : JenkinsApi::Exceptions::ApiException"
Hello,

I've an issue with your plugin. When I attempt to make a build with the Jenkins'Tab, I receiver this following error :

[code]

I've test connection with the plugin settings and it works. Other fonctionnality of plugin works too (latest build, State, ...).

Is there something to install on the Jenkins side ?

Logins on my Jenkins server is with Unix Account.

**Configuration**
Jenkins 1.62

[2015-07-23 16:58] ocanam opened #46 "Stylesheet override"
Some links in the job list can be unreadable (link in dark blue on less dark blue, or blue on dark green).
It can be avoided by modifying the stylesheet `assets/stylesheets/application.css`.
Changing

[code]

into

[code]

will do the trick.

Maybe not the most elegant solution but works with an almost-redmine-default stylesheet.

[2015-09-25 17:53] quickslyver opened #47 "Can't add jobs on project without repository"
It is impossible to add jenkins jobs on a redmine project without at least one repository configured.

My current workaround is to add a "dummy" filesystem repository to the project.

[2015-10-14 15:57] n-rodriguez commented on #47
Yep. This is 'a feature' as it permits to link project's issues with the job.

[2015-10-14 15:59] n-rodriguez commented on #45
Nope. Except the config, it should work out of the box. Maybe the password have special characters?

[2015-10-14 16:00] #42 closed, assigned to n-rodriguez

[2015-10-14 16:04] n-rodriguez commented on #43
On Bitnami stack?

[2015-10-14 16:06] n-rodriguez commented on #43
The command `bundle exec rake...` must be executed from Redmine **root** directory. (`/opt/bitnami/apps/redmine/htdocs`)

[2015-10-14 16:06] #43 closed, assigned to n-rodriguez

[2015-10-14 17:11] algorys commented on #45
I think that's because I've parameters... I'll make another tests tomorrow

[2015-10-20 17:01] n-rodriguez commented on #45
Hi there! Any news?

[2015-12-01 08:50] acosonic opened #49 "Visual/HTML error on history view"
When clicked on build history, panel title displays html code "<i ...".

On Redmine 3.0.6
http://prntscr.com/9900hz

[2015-12-09 19:03] wilsoc5 commented on #39
I can verify this. We had this plugin installed and then needed to start using some custom fields. Tried to sort the issues with the new custom fields and would get an internal error (the same ArgumentError as above). Removed this plugin and no issue in sorting.

[2015-12-12 12:11] tchemit commented on #19
+1

[2015-12-28 15:45] ngiron56 opened #50 "Date of last build"
On the column "last build", the date which appears is the date of the last build of the history list but not the date of the real last build.

For exemple, if I just build my project and the last build that I can see in the history is dated 11/11/2015, the plugin will show me 11/11/2015 in the last build column and not 28/12/2015.

[2016-03-15 12:05] Alexey-I opened #51 "List of jobs - some finished jobs marked as "running""
Hello.

On our installation we see an interesting effect: some jobs do not get out of "running" state. This is what gets logged:

[code]

Plugin defintely gets information it waits for. When I click on one of those tasks to see console output I get:

[code]

So the plugin should know job's done, but it leaves state as "Running".
If you need more details I'll be glad to update this report.

[2016-03-16 14:12] jay1sudhanshu opened #52 "Job Name - unable to create a new Job"
I have added a plugin for Jenkins inside Redmine (version 3.2.1)

While trying to create a job in Jenkins, I am not able to select or enter Job name.

However, I am able to view all existing repositories. Screenshot for reference

![screen shot 2016-03-16 at 7 35 00 pm](https://cloud.githubusercontent.com/assets/17244739/13815342/355256bc-ebb0-11e5-9269-651bed8d0137.png)
![screen shot 2016-03-16 a

[2016-03-16 14:41] n-rodriguez commented on #52
Hi! You must create the job in jenkins first.
Le 16 mars 2016 15:12, "jay1sudhanshu" notifications@github.com a écrit :

[2016-04-21 11:16] dmoebus opened #53 "Projects in Folders not listed"
When configuring Jenkins in Redmine, projects in folder are not shown.
Example:
In Jenkins we have the following structure:

Project 01
Project 02
       |  Project 02.01
       |  Project 02.02
Project 03

In Redmine we can select only Project 01, Project 02 and Project 03 but not Project 02.01 or Project 02.02...
Is there a way to fix this issue?

Thank you.

[2016-05-23 07:10] bellatriks commented on #49
The same issue on Redmine 3.2.0.stable + redmine_jenkins 1.0.1

[2016-05-25 16:25] KickerTom opened #54 "List of builds not updating"
It seems when Jenkins build is started by some external means (e.g. repository hook, manually), the list is not updated automatically, even after reloading the page. I must press the "Refresh the list of builds" button to get it updated. And even then, if more than one build passed meanwhile, just the latest is fetched, so the history popup shows e.g. builds 1, 2, 3, 5.
Is this expected behavior?

[2016-08-25 09:23] ericLemanissier commented on #53
+1

[2016-08-31 09:36] eddiriarte commented on #53
+1

...actually seems to be an error at `arangamani/jenkins_api_client`
 i've changed the file `jenkins_api_client/lib/jenkins_api_client/job.rb # line 608` (in vendor gems) with:

[code]

and so i get jobs at level 1 und 2... not the very best solution, but this is my first intent with ruby...

[2016-12-19 08:40] macghriogair commented on #53
+1

[2017-01-13 04:41] justinzyw opened #58 ""Requested component is not found on the Jenkins CI server.""
Tried to follow the installation instruction but during connection testing, it gave an error msg says:"Requested component is not found on the Jenkins CI server."

I have Jenkins v2.19.4. Could you please let me know how to locate this "requested compoenent" please?

[2017-02-11 01:40] ayapapa commented on #58
I have the same issue on Redmine 3.2.2.stable + redmine_jenkins 1.0.1 + Jenkins v1.651.3

[2017-02-12 03:35] ayapapa commented on #58
I resolved my issue. In my case, the reason was updating Gemfile's nokogiri's version info.
To avoid Redmine's and plugin's gem's version mismatch, I removed nokogiri's version from several Gemfile, such like:
   `gem "nokogiri" #, ">= 1.6.7.2"`
 and I also edited redmine_jenkins Gemfile like:
    `gem 'jenkins_api_client'#, '~>= 1.3.0'`
So I restituted them, that is to use `gem nokogiri", ">= 1.6

[2017-02-16 14:53] nhansds commented on #40
@drvora @n-rodriguez Got the same problem. I've got an 404 error when i try to access the Jenkins tab.
The jenkins Tab = translation missing : fr.label_jenkins
I can't access to the activity anymore

[2017-05-15 15:37] reuterbal opened #59 "Unstable builds are not displayed correctly"
In the 'Jenkins'-tab of a project, unstable jobs are not displayed correctly. The following patch fixes this:

[code]

[2017-11-16 13:51] FutureLinkOpenSource opened #60 "Updated gem dependencies for redmine_jenkins"
Just wondering if you had any time to update redmine_jenkins to work with the newer versions of haml-rails (and its dependencies) as well as jenkins_api_client.

[2017-12-07 16:43] reuterbal commented on #50
Duplicate of #42 . Pull request #48 fixes this.

[2017-12-07 16:48] reuterbal commented on #54
I have the same issues:
- builds are not updated except for manual clicks on "Refresh the list of builds"
- only latest build is fetched, not all that happened in the meantime
- duration is only updated after second click on "Refresh the list of builds"

[2018-01-24 02:54] jhyry-gcpud opened #61 "Redmine 3.4.x"
Is this plugin going to be updated for 3.4.x?
Or is it already compatible?

[2018-03-22 06:23] timesong commented on #49
The issue was from redmine_bootstrap_kit plugin, I did some change in redmine_bootstrap_kit\assets\javascripts\bootstrap\bootstrap.js file to fixed it.
[code]

[2018-04-05 05:40] macintoshplus commented on #61
I use with Redmine 3.4 without error.

[2018-06-06 13:11] sabyasachimondal commented on #61
Dear macintoshplus,

I am facing problem for installing this plugin into Redmine 3.4.5 . I have installed it from Bitnami and the platform is windows. Can you please help?

[2018-06-07 10:50] macintoshplus commented on #61
Sorry,

I use this version: https://github.com/InExtenso/redmine_jenkins/commits/devel

[2018-06-13 02:52] zlcolin commented on #60
2018/6/12 am10:18:28Installing gems required by plugins...
2018/6/12 am10:18:33Bundler could not find compatible versions for gem "nokogiri":
2018/6/12 am10:18:33  In snapshot (Gemfile.lock):
2018/6/12 am10:18:33    nokogiri (= 1.8.1)
2018/6/12 am10:18:33
2018/6/12 am10:18:33  In Gemfile:
2018/6/12 am10:18:33    jenkins_api_client (~> 1.3.0) was resolved to 1.3.0, which depends on
2018/6/12 am10:1

[2018-06-13 09:59] zlcolin commented on #60
I met the follow issue, any comment please? thanks
redmine@136a6d34d7c7:~/redmine$ bundle install --without development test
Your Gemfile lists the gem simplecov (~> 0.9.1) more than once.
You should probably keep only one of them.
While it's not a problem now, it could cause errors if you change the version of one of them later.
The dependency tzinfo-data (>= 0) will be unused by any of the platf

[2019-02-23 22:56] danielecr opened #63 "About "Before install the plugin, stop Redmine" requirement"
running redmine in a container is not possible to install something inside it when the main process is stopped.
There is workaround, such as runnig the container with replaced command (like top -b), and proceed with plugin installation.
Is that the case? why is so important to stop redmine during this plugin installation? I did not heard it for other plugins.

[2019-12-19 11:19] Ashjoker24 opened #64 "No such file to load -- coderay.rb"
Hi
I am new for redmine and my target is to redmine issue trigger jenkins job, for that purpose I try to install this plugin and I got error while running,
 bundle exec rake redmine:plugins:migrate RAILS_ENV=production NAME=redmine_jenkins
rake aborted!
LoadError: No such file to load -- coderay.rb
/home/centos/redmine-4.0.5/plugins/redmine_bootstrap_kit/app/helpers/code_mirror/colorizer_helper.rb

[2020-11-24 13:55] karippery opened #66 "cannot install redmine_jenkins on redmine 4.1.1"
i need to install  jenkins plugins on my new redmine 4.1.1. unfortunately i got error

[code]

Environment:
  Redmine version                4.1.1.stable
  Ruby version                   2.3.3-p222 (2016-11-21) [x86_64-linux-gnu]
  Rails version                  5.2.4.2

please help me

[2021-06-29 20:33] naimulhq opened #67 "HTTP 406 Error when clicking Jenkins Tab"
Currently, I got the plugin installed on EasyRedmine. When clicking on the Jenkins tab on the Project Page, a new page opens up with the following error: HTTP 406- Not Acceptable, The requested resource is only capable of generating content not acceptable according to the Accept headers sent in the request.

[2021-11-01 18:17] #61 closed, assigned to nobody